input[type="text"], input[type="number"] {
  width: 40%;
  font-size: 15px;
  font-weight: 400;
  border-radius:  5px 0 0 5px;
  text-transform: uppercase;
  padding: 15px 0 15px 18px;
  border: 1px solid $textSecondary;
  z-index: 2;
  transition: width .3s ease;


  &.input-disable {
    width: 36%;
    border-radius: 5px;
    &:hover {
      border-radius: 5px;
    }
  }

  &:hover {
    outline: none;
    border: 1px solid $primary;
    border-radius: 5px 0 0 5px;
  }

  &:focus {
    outline: none;
  }
}

input[type="number"] {
  text-transform: none;
  padding: 15px 0 15px 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  width: 32%;
  border: none;
  background: $primary;
  color: $white;
  font-size: 15px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0 5px 5px 0;
  transition: width 5s ease;
  z-index: 1;
  transition: transform .3s ease ;
  &.btn-disable {
    transform: translateX(-120px);
  }

  &:focus {
    outline: none;
  }
}


.btn-primary-outline {
  width: 32%;
  border: 1px solid $textSecondary;
  color: $primary;
  background: $white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 0;
  border-radius: 5px;
}

.progress-bar {

  .outline-circle {
    animation-name: progress;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: unset;
    animation-play-state: running;
  }
}

.flex {
  display: flex;
}

.position-relative {
  position: relative;
}
