.fade-enter-active, .fade-leave-active {
  transition: all .7s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.steps.fade-leave-active {
  .form-section {
    .form-item {
      transition: all .4s ease;
      transform: translateY(-30px);
    }
  }
}

.steps.fade-leave-active {
  .form-section {
    @for $i from 1 through 6 {
      .form-item:nth-child(#{$i}) {
        transition-delay: #{$i * .05}s;
      }
    }
  }
}
