.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}



.steps.fade-leave-active{
  .form-section {
    .form-item {
      transition: all .7s ease;
      transform: translateY(-100px);
    }
  }
}

.steps.fade-leave-active {
  .form-section {
    @for $i from 1 through 6 {
      .form-item:nth-child(#{$i}) {
        transition-delay: #{$i * .06}s;
      }
    }
  }
}
