@import './variables';
@import './components';
@import './mixins';

@font-face {
  src: url(../font/Camphor/camphorRegular.ttf);
  font-family: camBold;
}

@font-face {
  src: url(../font/Camphor/camphorLight.ttf);
  font-family: camLight;
}

@font-face {
  src: url(../font/Camphor/camphorBold.ttf);
  font-family: camBold;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100vh;
  font-family: 'camRegular','camLight','camBold' !important;

  .white-space {
    width: 80%;
    float: left;
    height: 150px;
  }

  .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #f6f6f6;

    .logo {
      width: 10%;
      user-select: none;
      display: flex;
      align-items: center;
      font-size: 26px;
      font-weight: 700;
      color: $primary;
    }

    .header-links {
      display: flex;
      width: 30%;
      align-items: center;
      justify-content: space-around;
      font-weight: 400;
      cursor: pointer;
      user-select: none;
      color: $textSecondaryDark;

      .active {
        color: $black;
        font-weight: bold;
        position: relative;
        padding: 23px 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        .active-line {
          width: 100%;
          padding: 2px 0;
          background-color: $primary;
          position: absolute;
          bottom: 0;
        }
      }
    }

    .profile {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 14%;

      .basket-icon {
        width: 20%;
        margin-top: 13px;

        img {
          width: 30px;
        }
      }

      .profile-options {
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: space-around;

        .profile-pic {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          font-weight: 700;
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 50%;
          color: $white;
          background: $textSecondaryDark;
        }

        .profile-name {
          font-size: 16px;
          font-weight: 700;
          position: relative;

          img {
            position: absolute;
            top: 7px;
            right: -15px;
          }
        }
      }
    }
  }

  .progress-bar {
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 30px;
    display: flex;
    align-items: center;
    padding: 20px 0 0 0;
    flex-direction: column;
    padding: 20px;

    .outline-circle {
      width: 36px;
      width: 36px;
      height: 36px;
      border: 2px solid $primary;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform .5s ease-in;
    }

    .step-one, .step-two, .step-three, .step-four, .step-five {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .circle {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(0 ,0);

      .inline-circle {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: $textSecondary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 16px;
        font-weight: 700;
      }

      .active-circle {
        background:$primary !important;
      }
    }

    .un-fill-l-line {
      width: 3px;
      height: 80px;
      background: $textSecondary;

      .fill-line-disable {
        width: 3px;
        height: 88px;
        margin-top: -4px;
        background: $textSecondary !important;
      }

      .fill-line {
        width: 3px;
        height: 40px;
        background: $primary;
        transition: height 1s ease-in;
      }

      .fill-line-active {
        width: 3px;
        height: 84px;
        background: $primary;
        margin-top: -4px;
      }
    }
  }
}

